@font-face {
  font-family: "Vazir";
  src: url("Fonts/Vazir.eot");
  src: url("Fonts/Vazir.eot?#iefix") format("embeded-opentype"),
  url("Fonts/Vazir.woff2") format("woff2"),
  url("Fonts/Vazir.woff") format("woff"),
  url("Fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url("Fonts/Sahel.eot");
  src: url("Fonts/Sahel.eot?#iefix") format("embeded-opentype"),
  url("Fonts/Sahel.woff2") format("woff2"),
  url("Fonts/Sahel.woff") format("woff"),
  url("Fonts/Sahel.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('Fonts/Sahel-Bold.eot');
  src: url('Fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
  url('Fonts/Sahel-Bold.woff') format('woff'),
  url('Fonts/Sahel-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('Fonts/Sahel-Black.eot');
  src: url('Fonts/Sahel-Black.eot?#iefix') format('embedded-opentype'),
  url('Fonts/Sahel-Black.woff') format('woff'),
  url('Fonts/Sahel-Black.ttf') format('truetype');
  font-weight: 900;
}
