@mixin transition($property, $duration) {
    --wekit-transition: $property $duration;
    --ms-transition: $property $duration;
    --o-transition: $property $duration;
    transition: $property $duration;
}
