@import "transition";
@import "btn";
@import "color";
@import "../Variables/Variables";
@import "margin&padding";
@import "border";

@mixin fw($W){
  font-weight: $W;
}
@mixin txtDec($model){
  text-decoration: $model;
}
@mixin dis($dis){
  display: $dis;
}