$primary: #26a69a;
$primary-light: #2bb3a8;
$secondary: #6c757d;
$secondary-light: #87929b;
$success: #28a745;
$success-light: #33d057;
$info: #17a2b8;
$info-dark: #13889b;
$warning: #ffc107;
$warning-light: #ffc107;
$danger: #dc3545;
$danger-light: #ff3f52;
$light: #f8f9fa;
$dark: #343a40;