$primary: #26a69a;
$primary-light: #2bb3a8;
$secondary: #6c757d;
$secondary-light: #87929b;
$success: #28a745;
$success-light: #33d057;
$info: #17a2b8;
$info-dark: #13889b;
$warning: #ffc107;
$warning-light: #ffc107;
$danger: #dc3545;
$danger-light: #ff3f52;
$light: #f8f9fa;
$dark: #343a40;
$black: #000000;
$black-ui-1: #101010;
$black-ui-2: #3C3C3E;
$green: #0CD512;
$green-l: #00FC4E;
$green-d: #00BF2C;
$green-ui: #22FE7A;
$blue: #0008fd;
$blue-l: #00B3FD;
$blue-d: #0224A1;
$blue-ui: #13D7FF;
$red: #F9001F;
$red-l: #ff003b;
$red-d: #AF0000;
$red-ui: #FE0D57;
$pink: #FF009D;
$pink-ui: #FF25AB;
$purple: #9100ff;
$purple-l: #B400FF;
$purple-d: #42008F;
$purple-ui: #A929FF;
$turquoise: #00FFD8;
$turquoise-l: #4CE7D0;
$turquoise-d: #00C4A0;
$turquoise-ui: #08DDBD;
$yellow: #EFFF00;
$yellow-l: #F2FE3B;
$yellow-d: #DBD400;
$yellow-ui: #FEF31F;
$orange: #ffc000;
$orange-l: #FFBF26;
$orange-d: #F3A000;
$orange-ui: #F3C21C;