//Default Variable

$border-radius-sm: 0.15rem;
$border-radius-md: 0.2rem;
$border-radius-sm: 0.3rem;
$border-radius-pill: 50rem;
$Basic-Size: 1 rem;
$xl-Size:1200 px;
$lg-Size:992 px;
$md-Size:768 px;
$sm-Size:576 px;